<h1>User name : <%= @user.first_name %></h1> <br/>

<p>

	<div><%= @user.first_name %></div>
	<div><%= @user.last_name %><div>
	<div><%= @user.description %><div>
	<div><%= @user.age %><div>  
	<div><%= @user.email %><div>
	<div><%= @user.city.name %><div>

	<br/>
	<div>
		<button><a href="<%= gossips_path %>" class="btn btn-info">Retour</a></button>
	</div>
	

</p>