<h1>User name : <%= @user.first_name %></h1> <br/>

<p>

	<div><strong>Prénom :</strong><%= @user.first_name %></div>
	<div><strong>Nom : </strong><%= @user.last_name %><div><br>
	<div><strong>Description : </strong><%= @user.description %><div>
	<div><strong>Age : </strong><%= @user.age %><div>  
	<div><strong>Email : </strong><%= @user.email %><div>
	<div><strong>Ville : </strong><%= @user.city.name %><div>

	<br/>
	<div>
		<button><a href="<%= gossips_path %>" class="btn btn-info">Retour</a></button>
	</div>
	

</p>