<h1>User name : <%= params["user"] %></h1> <br/>

<p>

	<div><%= @user_display.first_name %></div>
	<div><%= @user_display.last_name %><div>
	<div><%= @user_display.description %><div>
	<div><%= @user_display.age %><div>
	<div><%= @user_display.email %><div>
	<div><%= @user_display.city.name %><div>

	<br/>
	<div>
		<button><a href="/">Retour</a></button>
	</div>
	

</p>